.options {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.options button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 26px;
  cursor: pointer;
  background-color: #e9ecee;
  color: black;
  border: 3px solid black;
}
